.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesa{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);    
    border: 15px solid grey;
    border-radius: 100px;
    width: 600px;
    height: 350px;
    box-shadow: 7px 7px lightgrey;
}

.manoJugador{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 620px;
}

.manoJugadorJugada{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 450px;
    gap: 10px;
}

.manoCPUJugada{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 320px;
    gap: 10px;
}

.manoCPU{
    display: flex;
    position: relative;
    justify-content: center;
    top: 40px;
}

.cartaCPU {
    height: 128px;
    width: 83px;
    position: relative;
    transition: transform 0.2s;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    background-position-x: -83.3*1 + px;
    background-position-y:  -127.7*4 + px;
}

.cartaCPU:nth-child(1) {
    transform: translateY(0px) rotate(-20deg);
    right: -15px;
    top: 10px;
}

.cartaCPU:nth-child(3) {
    transform: translateY(0px) rotate(20deg);
    right: 15px;
    top: 10px;
}

.cartaCPU:nth-child(1):hover {
    z-index: 2;
    transform: translate(-10px) rotate(-15deg) scale(1.2);
}

.cartaCPU:nth-child(2):hover {
    z-index: 2;
    transform: scale(1.2);
}

.cartaCPU:nth-child(3):hover {
    z-index: 2;
    transform: translate(-10px) rotate(15deg) scale(1.2);
}

.cartaJugador {
    height: 128px;
    width: 83px;
    position: relative;
    transition: transform 0.2s;
    background-image: url('images/baraja.png');
    background-size: 1000px;
}

.cartaJugadorJugada {
    height: 128px;
    width: 83px;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    background-position-x: -83.3*1 + px;
    background-position-y:  -127.7*4 + px;
    visibility: hidden;
}

.cartaCPUJugada {
    height: 128px;
    width: 83px;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    background-position-x: -83.3*1 + px;
    background-position-y:  -127.7*4 + px;
    visibility: hidden;
}

.cartaJugador:nth-child(1) {
    transform: translateY(0px) rotate(-20deg);
    right: -15px;
    top: 10px;
}

.cartaJugador:nth-child(3) {
    transform: translateY(0px) rotate(20deg);
    right: 15px;
    top: 10px;
}

.cartaJugador:nth-child(1):hover {
    z-index: 2;
    transform: translate(-20px) rotate(-15deg) scale(1.2);
}

.cartaJugador:nth-child(2):hover {
    z-index: 2;
    transform: scale(1.2);
}

.cartaJugador:nth-child(3):hover {
    z-index: 2;
    transform: translate(-20px) rotate(15deg) scale(1.2);
}