$colorMesa: #a3c891;
$colorBordeMesa: grey;
$colorSombraMesa: lightgrey;
$colorFondo: rgb(234, 236, 199);
$colorContador: #df6353;
$fontMensaje: 'Lilita One', cursive;
$fontContador: 'Jua', sans-serif;
$colorButton: black;
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


@mixin centrarElementoGame {
    display: flex;
    position: relative;
    justify-content: center;
}

@mixin carta {
    height: 128px;
    width: 83px;
    position: relative;
    transition: transform 0.2s;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    border: 3px solid black;
    border-radius: 10px;
    background-position-x: -83.3*1+px;
    background-position-y: -127.7*4+px;
}

@mixin cartaPlay {
    height: 128px;
    width: 83px;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    background-position-x: -83.3*1 + px;
    background-position-y: -127.7*4 + px;
    border: 3px solid black;
    border-radius: 10px;
    transform: scale(0.8)
}

@mixin transformCarta($hijo, $right, $transform) {
    &:nth-child(#{$hijo}) {
        transform: translateY(5px) rotate(#{$transform}deg);
        top: 10px;
        right: #{$right}px;
    }
}

@mixin hoverCarta($hijo, $traslate, $rotate) {
    &:nth-child(#{$hijo}):hover {
        z-index: 2;
        transform: translate(#{$traslate}px) rotate(#{$rotate}deg) scale(1.2);
    }
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    justify-content: center;
}

.game {
    border: 2px solid gray;
    border-radius: 15px;
    height: 85%;
    width: 70%;
    display: grid;
    grid-template-areas:
        "back dialogue contador"
        "mesa mesa tablero"
        "mesa mesa tablero";
    grid-template-columns: 7% 63% 30%;
    grid-template-rows: 15% 75% 10%;
    background-color: $colorFondo;
    ;
}

.mesa {
    margin: auto;
    grid-area: mesa;
    background-color: $colorMesa;
    border: 15px solid $colorBordeMesa;
    border-radius: 50%;
    width: 450px;
    height: 400px;
    box-shadow: 7px 7px $colorSombraMesa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manoJugador {
    @include centrarElementoGame;
    top: -245px;
    transform: scale(0.95);
    div:first-child:nth-last-child(3),
    div:first-child:nth-last-child(3)~div {
        @include transformCarta(1, -15, -20);
        @include transformCarta(3, 15, 20);
        $iter: 1, 2, 3;
        @each $i in $iter {
            @include hoverCarta(#{$i}, -20, ($i) * 15 - 30);
        }
    }
    div:first-child:nth-last-child(2),
    div:first-child:nth-last-child(2)~div {
        @include transformCarta(1, 0, -10);
        @include transformCarta(2, 0, 10);
        @include hoverCarta(1, 10, -10);
        @include hoverCarta(2, -10, 10);
    }
    div:first-child:nth-last-child(1),
    div:first-child:nth-last-child(1)~div {
        @include transformCarta(1, 0, 0);
        @include hoverCarta(1, 0, 0);
    }
}

.manoCPU {
    @include centrarElementoGame;
    top: -225px;
    transform: scale(0.65);
    div:first-child:nth-last-child(3),
    div:first-child:nth-last-child(3)~div {
        @include transformCarta(1, -15, -20);
        @include transformCarta(3, 15, 20);
        $iter: 1, 2, 3;
        @each $i in $iter {
            @include hoverCarta(#{$i}, -20, ($i) * 15 - 30);
        }
    }
    div:first-child:nth-last-child(2),
    div:first-child:nth-last-child(2)~div {
        @include transformCarta(1, 0, -10);
        @include transformCarta(2, 0, 10);
        @include hoverCarta(1, 10, -10);
        @include hoverCarta(2, -10, 10);
    }
    div:first-child:nth-last-child(1),
    div:first-child:nth-last-child(1)~div {
        @include transformCarta(1, 0, 0);
        @include hoverCarta(1, 0, 0);
    }
}

.cartaJugador {
    @include carta;
    cursor: pointer;
}

.cartaCPU {
    @include carta;
}






.manoJugadorPlay {
    @include centrarElementoGame;
    top: -225px;
    gap: 10px;
    transform: scale(0.9);
}

.manoCPUPlay {
    @include centrarElementoGame;
    top: -200px;
    gap: 10px;
    transform: scale(0.9);
}

.cartaJugadorPlay {
    @include cartaPlay;
}

.cartaCPUPlay {
    @include cartaPlay;
}

.iconPlayer {
    position: relative;
    top: -150px;
    width: 140px;
    border-radius: 80px;
    border: 5px solid grey;
}

#mensaje {
    position: absolute;
    top: 385px;
    font-size: 30px;
    font-family: $fontMensaje;
    visibility: hidden;
    z-index: 100;
    color: red;
    text-shadow: 2px 2px black;
}

.mensajeAlerta {
    animation-name: animationAlert;
    animation-duration: 10s;
}

@keyframes animationAlert {
    @for $i from 0 to 20 {
        #{(100% - 5*$i)} {
            transform: scale(1 + $i*0.1);
            visibility: visible
        }

        ;
    }
}

#tablero {
    grid-area: tablero;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    margin-bottom: 10px;
    margin-right: 10px;

    .opcion {
        width: 100px;
        overflow: hidden;
        list-style: none;
        background-color: $colorButton;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        border-radius: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        li {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            width: 100%;
            padding: 5px;
        }

    }
}

.opcionHover {
    &:hover {
        background-color: red;
    }

    cursor: pointer;
}

.contador {
    justify-self: end;
    margin-right: 45px;
    margin-top: 40px;
    grid-area: contador;
    box-shadow: 7px 7px lightgrey;
    border: 5px solid grey;
    border-radius: 10px;
    background-color: $colorContador;
    width: max-content;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    table {
        th {
            font-size: 20px;
            border: 10px solid $colorContador;
            border-collapse: collapse;
            font-family: $fontContador;
            text-align: center;
        }

        tr {
            vertical-align: top;
        }
    }

    ul {
        list-style: none;

        li {
            margin-bottom: 5px !important;
        }
    }
}

.puntoJugador,
.puntoCPU {
    width: 25px;
    height: 25px;
    margin: auto;
}

.puntoFinal {
    background: linear-gradient(135deg, transparent calc(50% - 3px), white 50%, transparent calc(50% + 3px));
}

#dialogue {
    grid-area: dialogue;
    background-image: url("images/dialogue.png");
    background-size: cover;
    width: 160px;
    height: 105px;
    position: relative;
    right: -390px;
    top: 20px;
    font-size: 23px;
    font-family: $fontMensaje;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-bottom: 20px;
    }

    visibility: hidden;
}

.dialogueAlerta {
    animation-name: dialogueAlert;
    animation-duration: 0.5s;
}

@keyframes dialogueAlert {
    @for $i from 0 to 10 {
        #{(0% + 5*$i)} {
            transform: scale($i*0.1);
            visibility: visible
        }

        ;
    }
}


.menuPrincipal {
    position: absolute;
    z-index: 1000;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("images/wallpaper.jpg");
    background-size: cover;
    border: 2px solid gray;
    border-radius: 15px;
    height: 85%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;

    ul {
        list-style: none;
        font-size: 25px;
        font-family: 'Arimo', sans-serif;
        color: white;
        text-align: center;
        li {
            border-radius: 10px;
            background-color: black;
            padding: 5px 15px;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover {
                background-color: red;
            }
        }
    }
}

.icon {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 120px;
    }

    h1 {
        font-size: 80px;
        font-family: $fontMensaje;
        color: black;
    }
}

.backGame {
    cursor: pointer;
    grid-area: back;
    margin-top: 10px;
    margin-left: 10px;

    img {
        width: 60px;

        &:hover {
            transform: scale(1.1);
            filter: invert(100%) brightness(50%) sepia(100) saturate(100) hue-rotate(10deg)
        }
    }
}

.backPartida {
    cursor: pointer;
    grid-area: back;
    margin-top: 10px;
    margin-left: 10px;

    img {
        width: 60px;

        &:hover {
            transform: scale(1.1);
            filter: invert(100%) brightness(50%) sepia(100) saturate(100) hue-rotate(10deg)
        }
    }
}

.partidas {
    visibility: hidden;
    position: absolute;
    z-index: 1001;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("images/wallpaper.jpg");
    background-size: cover;
    border: 2px solid gray;
    border-radius: 15px;
    height: 85%;
    width: 70%;
    display: grid;
    grid-template-areas:
        "back titulo titulo"
        "partida partida partida"
        "partida partida partida";
    grid-template-columns: 7% 63% 30%;
    grid-template-rows: 15% 75% 10%;

    ul {
        margin: auto;
        width: 60%;
        list-style: none;
        font-size: 25px;
        font-family: 'Arimo', sans-serif;

        color: white;
        text-align: center;
        
        li {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            
            height: 45px;
            padding-right: 10px;
            padding-left: 10px;
            background-color: black;

            &:hover {
                background-color: red;
            }
        }
    }
}

.partida {
    margin-top: 100px;
    grid-area: partida;
}

#popupPartida {
    visibility: hidden;
    position: absolute;
    height: 85%;
    width: 70%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #popupPartidaMensaje {
        padding: 5px;
        position: absolute;
        z-index: 2000;
        background-color: white;
        height: max-content;
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        font-family: 'Zilla Slab Highlight', cursive;
        color: black;
        gap: 15px;

        button {
            font-size: 30px;
            font-family: 'Zilla Slab Highlight', cursive;
            color: black;
            border: 0px;
            cursor: pointer;
            border-radius: 5px;
        }

        border-radius: 5px;
    }
}

#opcionesPopup {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ocultarCarta {
    display: none;
}