@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(234, 236, 199);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.mesa {
  background-color: #a3c891;
  border: 15px solid grey;
  border-radius: 50%;
  width: 500px;
  height: 450px;
  box-shadow: 7px 7px lightgrey;
}

.manoJugador {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 530px;
}

.manoCPU {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 100px;
  transform: scale(0.7);
}

.cartaJugador {
  height: 128px;
  width: 83px;
  position: relative;
  transition: transform 0.2s;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  border: 3px solid black;
  border-radius: 10px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  cursor: pointer;
}
.cartaJugador:nth-child(1):hover {
  z-index: 2;
  transform: translate(-20px) rotate(-15deg) scale(1.2);
}
.cartaJugador:nth-child(2):hover {
  z-index: 2;
  transform: translate(-20px) rotate(0deg) scale(1.2);
}
.cartaJugador:nth-child(3):hover {
  z-index: 2;
  transform: translate(-20px) rotate(15deg) scale(1.2);
}
.cartaJugador:nth-child(1) {
  transform: translateY(0px) rotate(-20deg);
  top: 10px;
  right: -15px;
}
.cartaJugador:nth-child(3) {
  transform: translateY(0px) rotate(20deg);
  top: 10px;
  right: 15px;
}

.cartaCPU {
  height: 128px;
  width: 83px;
  position: relative;
  transition: transform 0.2s;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  border: 3px solid black;
  border-radius: 10px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
}
.cartaCPU:nth-child(1):hover {
  z-index: 2;
  transform: translate(-20px) rotate(-15deg) scale(1.2);
}
.cartaCPU:nth-child(2):hover {
  z-index: 2;
  transform: translate(-20px) rotate(0deg) scale(1.2);
}
.cartaCPU:nth-child(3):hover {
  z-index: 2;
  transform: translate(-20px) rotate(15deg) scale(1.2);
}
.cartaCPU:nth-child(1) {
  transform: translateY(0px) rotate(-20deg);
  top: 10px;
  right: -15px;
}
.cartaCPU:nth-child(3) {
  transform: translateY(0px) rotate(20deg);
  top: 10px;
  right: 15px;
}

.manoJugadorPlay {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 410px;
  gap: 10px;
}

.manoCPUPlay {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 280px;
  gap: 10px;
}

.cartaJugadorPlay {
  height: 128px;
  width: 83px;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  visibility: hidden;
  border: 3px solid black;
  border-radius: 10px;
  transform: scale(0.8);
}

.cartaCPUPlay {
  height: 128px;
  width: 83px;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  visibility: hidden;
  border: 3px solid black;
  border-radius: 10px;
  transform: scale(0.8);
}

.iconPlayer {
  width: 150px;
}

#mensaje {
  position: absolute;
  top: 360px;
  font-size: 30px;
  font-family: "Lilita One", cursive;
  visibility: hidden;
  z-index: 100;
  color: red;
  text-shadow: 2px 2px black;
}

.mensajeAlerta {
  animation-name: animationAlert;
  animation-duration: 10s;
}

@keyframes animationAlert {
  100% {
    transform: scale(1);
    visibility: visible;
  }
  95% {
    transform: scale(1.1);
    visibility: visible;
  }
  90% {
    transform: scale(1.2);
    visibility: visible;
  }
  85% {
    transform: scale(1.3);
    visibility: visible;
  }
  80% {
    transform: scale(1.4);
    visibility: visible;
  }
  75% {
    transform: scale(1.5);
    visibility: visible;
  }
  70% {
    transform: scale(1.6);
    visibility: visible;
  }
  65% {
    transform: scale(1.7);
    visibility: visible;
  }
  60% {
    transform: scale(1.8);
    visibility: visible;
  }
  55% {
    transform: scale(1.9);
    visibility: visible;
  }
  50% {
    transform: scale(2);
    visibility: visible;
  }
  45% {
    transform: scale(2.1);
    visibility: visible;
  }
  40% {
    transform: scale(2.2);
    visibility: visible;
  }
  35% {
    transform: scale(2.3);
    visibility: visible;
  }
  30% {
    transform: scale(2.4);
    visibility: visible;
  }
  25% {
    transform: scale(2.5);
    visibility: visible;
  }
  20% {
    transform: scale(2.6);
    visibility: visible;
  }
  15% {
    transform: scale(2.7);
    visibility: visible;
  }
  10% {
    transform: scale(2.8);
    visibility: visible;
  }
  5% {
    transform: scale(2.9);
    visibility: visible;
  }
}
#tablero {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 10px;
  position: absolute;
  bottom: 100px;
  right: 200px;
}
#tablero div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#tablero div button {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  font-size: 15px;
  border-bottom: 5px;
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px black;
  background-color: rgb(98, 108, 212);
  cursor: pointer;
}
#tablero div .disableButton {
  background-color: gray;
}

#tableroRespuesta {
  position: absolute;
  top: 400px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 10px;
  position: absolute;
  bottom: 100px;
  right: 200px;
  visibility: hidden;
}
#tableroRespuesta div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#tableroRespuesta div button {
  width: 100px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  font-size: 15px;
  border-bottom: 5px;
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px black;
  background-color: rgb(98, 108, 212);
  cursor: pointer;
}
#tableroRespuesta div .disableButton {
  background-color: gray;
}

.contador {
  position: absolute;
  top: 35px;
  right: 350px;
  border: 2px solid rgb(185, 74, 74);
  border-radius: 10px;
  background-color: rgb(185, 74, 74);
  box-shadow: 3px 3px black;
}
.contador table th {
  font-size: 20px;
  border: 10px solid rgb(185, 74, 74);
  border-collapse: collapse;
  font-family: "Jua", sans-serif;
  text-align: center;
}
.contador table tr {
  vertical-align: top;
}

.puntoJugador,
.puntoCPU {
  width: 25px;
  height: 25px;
  margin: auto;
}

.puntoFinal {
  background: linear-gradient(135deg, transparent calc(50% - 2px), rgb(0, 0, 0) 50%, transparent calc(50% + 2px));
}

ul {
  list-style: none;
}
ul li {
  margin-bottom: 5px !important;
}

/*# sourceMappingURL=styles.css.map */
