$colorMesa: #a3c891;
$colorBordeMesa: grey;
$colorSombraMesa: lightgrey;
$colorFondo: rgb(234, 236, 199);
$fontMensaje: 'Lilita One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@mixin centrarElementoGame {
    display: flex;
    position: absolute;
    justify-content: center;
}

@mixin carta {
    height: 128px;
    width: 83px;
    position: relative;
    transition: transform 0.2s;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    border: 3px solid black;
    border-radius: 10px;
    $iter: 1, 2, 3;
    @each $i in $iter {
        @include hoverCarta(#{$i}, -20, ($i) * 15 - 30);
    }
    background-position-x: -83.3*1 + px;
    background-position-y:  -127.7*4 + px;
}

@mixin cartaPlay {
    height: 128px;
    width: 83px;
    background-image: url('images/baraja.png');
    background-size: 1000px;
    background-position-x: -83.3*1 + px;
    background-position-y:  -127.7*4 + px;
    visibility: hidden;
    border: 3px solid black;
    border-radius: 10px;
    transform: scale(0.8)
}

@mixin transformCarta($hijo, $right, $transform) {
    &:nth-child(#{$hijo}){
        transform: translateY(0px) rotate(#{$transform}deg);
        top: 10px;
        right: #{$right}px;
    }
}

@mixin hoverCarta($hijo, $traslate, $rotate) {
    &:nth-child(#{$hijo}):hover{
        z-index: 2;
        transform: translate(#{$traslate}px) rotate(#{$rotate}deg) scale(1.2);
    }
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $colorFondo;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesa{
    background-color: $colorMesa;    
    border: 15px solid $colorBordeMesa;
    border-radius: 50%;
    width: 550px;
    height: 500px;
    box-shadow: 7px 7px $colorSombraMesa
}

.manoJugador{
    @include centrarElementoGame;
    top: 560px;
}

.manoCPU{
    @include centrarElementoGame;
    top: 100px;
    transform: scale(0.7);

}

.cartaJugador {
    @include carta;
    @include transformCarta(1, -15, -20);
    @include transformCarta(3, 15, 20);
}

.cartaCPU {
    @include carta;
    @include transformCarta(1, -15, -20);
    @include transformCarta(3, 15, 20);
}

.manoJugadorPlay{
    @include centrarElementoGame;
    top: 410px;
    gap: 10px;
}

.manoCPUPlay{
    @include centrarElementoGame;
    top: 280px;
    gap: 10px;
}

.cartaJugadorPlay {
    @include cartaPlay;
}
.cartaCPUPlay {
    @include cartaPlay;
}

.iconPlayer{
    width: 150px;
}

#mensaje{
    position: absolute;
    top: 350px;
    font-size: 50px;
    font-family: $fontMensaje;
    visibility: hidden;
    z-index: 100;
}

.mensajeAlerta{
    animation-name: animationAlert;
    animation-duration: 0.5s;
}

@mixin transictionAlert{
    @for $i from 0 to 20 {
    #{(100% - 5*$i)} {transform: scale(1 + $i*0.1); visibility: visible};
    }
}

@keyframes animationAlert {
    @include transictionAlert;
}