@import url("https://fonts.googleapis.com/css2?family=Jua&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  justify-content: center;
}

.game {
  border: 2px solid gray;
  border-radius: 15px;
  height: 85%;
  width: 70%;
  display: grid;
  grid-template-areas: "back dialogue contador" "mesa mesa tablero" "mesa mesa tablero";
  grid-template-columns: 7% 63% 30%;
  grid-template-rows: 15% 75% 10%;
  background-color: rgb(234, 236, 199);
}

.mesa {
  margin: auto;
  grid-area: mesa;
  background-color: #a3c891;
  border: 15px solid grey;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  box-shadow: 7px 7px lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manoJugador {
  display: flex;
  position: relative;
  justify-content: center;
  top: -245px;
  transform: scale(0.95);
}
.manoJugador div:first-child:nth-last-child(3):nth-child(1),
.manoJugador div:first-child:nth-last-child(3) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(-20deg);
  top: 10px;
  right: -15px;
}
.manoJugador div:first-child:nth-last-child(3):nth-child(3),
.manoJugador div:first-child:nth-last-child(3) ~ div:nth-child(3) {
  transform: translateY(5px) rotate(20deg);
  top: 10px;
  right: 15px;
}
.manoJugador div:first-child:nth-last-child(3):nth-child(1):hover,
.manoJugador div:first-child:nth-last-child(3) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(-20px) rotate(-15deg) scale(1.2);
}
.manoJugador div:first-child:nth-last-child(3):nth-child(2):hover,
.manoJugador div:first-child:nth-last-child(3) ~ div:nth-child(2):hover {
  z-index: 2;
  transform: translate(-20px) rotate(0deg) scale(1.2);
}
.manoJugador div:first-child:nth-last-child(3):nth-child(3):hover,
.manoJugador div:first-child:nth-last-child(3) ~ div:nth-child(3):hover {
  z-index: 2;
  transform: translate(-20px) rotate(15deg) scale(1.2);
}
.manoJugador div:first-child:nth-last-child(2):nth-child(1),
.manoJugador div:first-child:nth-last-child(2) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(-10deg);
  top: 10px;
  right: 0px;
}
.manoJugador div:first-child:nth-last-child(2):nth-child(2),
.manoJugador div:first-child:nth-last-child(2) ~ div:nth-child(2) {
  transform: translateY(5px) rotate(10deg);
  top: 10px;
  right: 0px;
}
.manoJugador div:first-child:nth-last-child(2):nth-child(1):hover,
.manoJugador div:first-child:nth-last-child(2) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(10px) rotate(-10deg) scale(1.2);
}
.manoJugador div:first-child:nth-last-child(2):nth-child(2):hover,
.manoJugador div:first-child:nth-last-child(2) ~ div:nth-child(2):hover {
  z-index: 2;
  transform: translate(-10px) rotate(10deg) scale(1.2);
}
.manoJugador div:first-child:nth-last-child(1):nth-child(1),
.manoJugador div:first-child:nth-last-child(1) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(0deg);
  top: 10px;
  right: 0px;
}
.manoJugador div:first-child:nth-last-child(1):nth-child(1):hover,
.manoJugador div:first-child:nth-last-child(1) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(0px) rotate(0deg) scale(1.2);
}

.manoCPU {
  display: flex;
  position: relative;
  justify-content: center;
  top: -225px;
  transform: scale(0.65);
}
.manoCPU div:first-child:nth-last-child(3):nth-child(1),
.manoCPU div:first-child:nth-last-child(3) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(-20deg);
  top: 10px;
  right: -15px;
}
.manoCPU div:first-child:nth-last-child(3):nth-child(3),
.manoCPU div:first-child:nth-last-child(3) ~ div:nth-child(3) {
  transform: translateY(5px) rotate(20deg);
  top: 10px;
  right: 15px;
}
.manoCPU div:first-child:nth-last-child(3):nth-child(1):hover,
.manoCPU div:first-child:nth-last-child(3) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(-20px) rotate(-15deg) scale(1.2);
}
.manoCPU div:first-child:nth-last-child(3):nth-child(2):hover,
.manoCPU div:first-child:nth-last-child(3) ~ div:nth-child(2):hover {
  z-index: 2;
  transform: translate(-20px) rotate(0deg) scale(1.2);
}
.manoCPU div:first-child:nth-last-child(3):nth-child(3):hover,
.manoCPU div:first-child:nth-last-child(3) ~ div:nth-child(3):hover {
  z-index: 2;
  transform: translate(-20px) rotate(15deg) scale(1.2);
}
.manoCPU div:first-child:nth-last-child(2):nth-child(1),
.manoCPU div:first-child:nth-last-child(2) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(-10deg);
  top: 10px;
  right: 0px;
}
.manoCPU div:first-child:nth-last-child(2):nth-child(2),
.manoCPU div:first-child:nth-last-child(2) ~ div:nth-child(2) {
  transform: translateY(5px) rotate(10deg);
  top: 10px;
  right: 0px;
}
.manoCPU div:first-child:nth-last-child(2):nth-child(1):hover,
.manoCPU div:first-child:nth-last-child(2) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(10px) rotate(-10deg) scale(1.2);
}
.manoCPU div:first-child:nth-last-child(2):nth-child(2):hover,
.manoCPU div:first-child:nth-last-child(2) ~ div:nth-child(2):hover {
  z-index: 2;
  transform: translate(-10px) rotate(10deg) scale(1.2);
}
.manoCPU div:first-child:nth-last-child(1):nth-child(1),
.manoCPU div:first-child:nth-last-child(1) ~ div:nth-child(1) {
  transform: translateY(5px) rotate(0deg);
  top: 10px;
  right: 0px;
}
.manoCPU div:first-child:nth-last-child(1):nth-child(1):hover,
.manoCPU div:first-child:nth-last-child(1) ~ div:nth-child(1):hover {
  z-index: 2;
  transform: translate(0px) rotate(0deg) scale(1.2);
}

.cartaJugador {
  height: 128px;
  width: 83px;
  position: relative;
  transition: transform 0.2s;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  border: 3px solid black;
  border-radius: 10px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  cursor: pointer;
}

.cartaCPU {
  height: 128px;
  width: 83px;
  position: relative;
  transition: transform 0.2s;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  border: 3px solid black;
  border-radius: 10px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
}

.manoJugadorPlay {
  display: flex;
  position: relative;
  justify-content: center;
  top: -225px;
  gap: 10px;
  transform: scale(0.9);
}

.manoCPUPlay {
  display: flex;
  position: relative;
  justify-content: center;
  top: -200px;
  gap: 10px;
  transform: scale(0.9);
}

.cartaJugadorPlay {
  height: 128px;
  width: 83px;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  border: 3px solid black;
  border-radius: 10px;
  transform: scale(0.8);
}

.cartaCPUPlay {
  height: 128px;
  width: 83px;
  background-image: url("images/baraja.png");
  background-size: 1000px;
  background-position-x: -83.3px;
  background-position-y: -510.8px;
  border: 3px solid black;
  border-radius: 10px;
  transform: scale(0.8);
}

.iconPlayer {
  position: relative;
  top: -150px;
  width: 140px;
  border-radius: 80px;
  border: 5px solid grey;
}

#mensaje {
  position: absolute;
  top: 385px;
  font-size: 30px;
  font-family: "Lilita One", cursive;
  visibility: hidden;
  z-index: 100;
  color: red;
  text-shadow: 2px 2px black;
}

.mensajeAlerta {
  animation-name: animationAlert;
  animation-duration: 10s;
}

@keyframes animationAlert {
  100% {
    transform: scale(1);
    visibility: visible;
  }
  95% {
    transform: scale(1.1);
    visibility: visible;
  }
  90% {
    transform: scale(1.2);
    visibility: visible;
  }
  85% {
    transform: scale(1.3);
    visibility: visible;
  }
  80% {
    transform: scale(1.4);
    visibility: visible;
  }
  75% {
    transform: scale(1.5);
    visibility: visible;
  }
  70% {
    transform: scale(1.6);
    visibility: visible;
  }
  65% {
    transform: scale(1.7);
    visibility: visible;
  }
  60% {
    transform: scale(1.8);
    visibility: visible;
  }
  55% {
    transform: scale(1.9);
    visibility: visible;
  }
  50% {
    transform: scale(2);
    visibility: visible;
  }
  45% {
    transform: scale(2.1);
    visibility: visible;
  }
  40% {
    transform: scale(2.2);
    visibility: visible;
  }
  35% {
    transform: scale(2.3);
    visibility: visible;
  }
  30% {
    transform: scale(2.4);
    visibility: visible;
  }
  25% {
    transform: scale(2.5);
    visibility: visible;
  }
  20% {
    transform: scale(2.6);
    visibility: visible;
  }
  15% {
    transform: scale(2.7);
    visibility: visible;
  }
  10% {
    transform: scale(2.8);
    visibility: visible;
  }
  5% {
    transform: scale(2.9);
    visibility: visible;
  }
}
#tablero {
  grid-area: tablero;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
}
#tablero .opcion {
  width: 100px;
  overflow: hidden;
  list-style: none;
  background-color: black;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
#tablero .opcion li {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.opcionHover {
  cursor: pointer;
}
.opcionHover:hover {
  background-color: red;
}

.contador {
  justify-self: end;
  margin-right: 45px;
  margin-top: 40px;
  grid-area: contador;
  box-shadow: 7px 7px lightgrey;
  border: 5px solid grey;
  border-radius: 10px;
  background-color: #df6353;
  width: max-content;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.contador table th {
  font-size: 20px;
  border: 10px solid #df6353;
  border-collapse: collapse;
  font-family: "Jua", sans-serif;
  text-align: center;
}
.contador table tr {
  vertical-align: top;
}
.contador ul {
  list-style: none;
}
.contador ul li {
  margin-bottom: 5px !important;
}

.puntoJugador,
.puntoCPU {
  width: 25px;
  height: 25px;
  margin: auto;
}

.puntoFinal {
  background: linear-gradient(135deg, transparent calc(50% - 3px), white 50%, transparent calc(50% + 3px));
}

#dialogue {
  grid-area: dialogue;
  background-image: url("images/dialogue.png");
  background-size: cover;
  width: 160px;
  height: 105px;
  position: relative;
  right: -390px;
  top: 20px;
  font-size: 23px;
  font-family: "Lilita One", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#dialogue p {
  margin-bottom: 20px;
}

.dialogueAlerta {
  animation-name: dialogueAlert;
  animation-duration: 0.5s;
}

@keyframes dialogueAlert {
  0% {
    transform: scale(0);
    visibility: visible;
  }
  5% {
    transform: scale(0.1);
    visibility: visible;
  }
  10% {
    transform: scale(0.2);
    visibility: visible;
  }
  15% {
    transform: scale(0.3);
    visibility: visible;
  }
  20% {
    transform: scale(0.4);
    visibility: visible;
  }
  25% {
    transform: scale(0.5);
    visibility: visible;
  }
  30% {
    transform: scale(0.6);
    visibility: visible;
  }
  35% {
    transform: scale(0.7);
    visibility: visible;
  }
  40% {
    transform: scale(0.8);
    visibility: visible;
  }
  45% {
    transform: scale(0.9);
    visibility: visible;
  }
}
.menuPrincipal {
  position: absolute;
  z-index: 1000;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("images/wallpaper.jpg");
  background-size: cover;
  border: 2px solid gray;
  border-radius: 15px;
  height: 85%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 65px;
}
.menuPrincipal ul {
  list-style: none;
  font-size: 25px;
  font-family: "Arimo", sans-serif;
  color: white;
  text-align: center;
}
.menuPrincipal ul li {
  border-radius: 10px;
  background-color: black;
  padding: 5px 15px;
  cursor: pointer;
}
.menuPrincipal ul li a {
  color: white;
  text-decoration: none;
}
.menuPrincipal ul li:not(:last-child) {
  margin-bottom: 10px;
}
.menuPrincipal ul li:hover {
  background-color: red;
}

.icon {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon img {
  width: 120px;
}
.icon h1 {
  font-size: 80px;
  font-family: "Lilita One", cursive;
  color: black;
}

.backGame {
  cursor: pointer;
  grid-area: back;
  margin-top: 10px;
  margin-left: 10px;
}
.backGame img {
  width: 60px;
}
.backGame img:hover {
  transform: scale(1.1);
  filter: invert(100%) brightness(50%) sepia(100) saturate(100) hue-rotate(10deg);
}

.backPartida {
  cursor: pointer;
  grid-area: back;
  margin-top: 10px;
  margin-left: 10px;
}
.backPartida img {
  width: 60px;
}
.backPartida img:hover {
  transform: scale(1.1);
  filter: invert(100%) brightness(50%) sepia(100) saturate(100) hue-rotate(10deg);
}

.partidas {
  visibility: hidden;
  position: absolute;
  z-index: 1001;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("images/wallpaper.jpg");
  background-size: cover;
  border: 2px solid gray;
  border-radius: 15px;
  height: 85%;
  width: 70%;
  display: grid;
  grid-template-areas: "back titulo titulo" "partida partida partida" "partida partida partida";
  grid-template-columns: 7% 63% 30%;
  grid-template-rows: 15% 75% 10%;
}
.partidas ul {
  margin: auto;
  width: 60%;
  list-style: none;
  font-size: 25px;
  font-family: "Arimo", sans-serif;
  color: white;
  text-align: center;
}
.partidas ul li {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
}
.partidas ul li:not(:last-child) {
  margin-bottom: 10px;
}
.partidas ul li:hover {
  background-color: red;
}

.partida {
  margin-top: 100px;
  grid-area: partida;
}

#popupPartida {
  visibility: hidden;
  position: absolute;
  height: 85%;
  width: 70%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#popupPartida #popupPartidaMensaje {
  padding: 5px;
  position: absolute;
  z-index: 2000;
  background-color: white;
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: "Zilla Slab Highlight", cursive;
  color: black;
  gap: 15px;
  border-radius: 5px;
}
#popupPartida #popupPartidaMensaje button {
  font-size: 30px;
  font-family: "Zilla Slab Highlight", cursive;
  color: black;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
}

#opcionesPopup {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ocultarCarta {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
